//
// ALERTS
//

.alerts {
  height: 3rem;
  position: fixed;
  right: 1.4rem;
  top: 5rem;
  width: 30rem;
  z-index: 9999;

  .alert {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    padding: 1.3rem 3rem 1.1rem 1.4rem;
    position: relative;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

    &.generic {
      text-shadow: none;
    }

    &.success {
      background: $green;
      border-color: darken($green, 8%);
      color: #fff;
    }

    &.warning {
      background: $yellow;
      border-color: darken($yellow, 8%);
      color: #fff;
    }

    &.error {
      background: $red;
      border-color: darken($red, 8%);
      color: #fff;
    }
    &.error:nth-child(n+2){ 
      display: none;
    }

    .close.icon {
      background: transparent;
      border: none;
      margin: 0;
      opacity: 0.2;
      padding: 0;
      position: absolute;
      right: 0.5rem;
      top: 0.6rem;
      transition: opacity 0.2s;
      width: 2.6rem;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }

      svg {
        width: 100%;
      }
    }
  }
}
